/* Background*/
    .mainContainer {
        display:flex;
        position: relative;
        text-align: center;
        color: white;
        height: 20%;
    }

    .mainBox1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .mainBox2 {
        background-image: url("../Photo/ezgif.com-gif-maker.gif");
        min-height: 81vh;
        min-width: 100vw;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .backgroundPhoto1 {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: 100%;
    }

/* Text */

    h1 {
        font-size: 46px;
        color: rgb(255, 255, 255) ;
    }

    h2 {
        font-size: 40px;
        color: rgb(255, 255, 255);
    }

/*Footer*/

    footer {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        padding-top: 1%;
        text-align: center;
        background-color: #143230; 
        position: fixed;
    }
    
    .email {
        color: #BAE6C5;
    }

/*Other media*/
    @media only screen and (max-width: 786px) {
        h1 {
            font-size: 1.5rem;
        }
        
        h2 {
            font-size: 1rem;
        }
    }

    @keyframes chat {
        from {

        }

        to {

        }
    }