header {
    margin-left: 10px;
    padding: 0px;
    font-size: 40px;
    color: #29332C;
}
  
main {
    color: #29332C;
    margin-left: 30px;
    padding: 0px;
    border: 0px;
    font-size: 26px;
}
  
p {
    color: #9FC4A8;
    margin-left: 10px;
    padding: 0px;
    border: 10px;
    font-family: "Arial";
    font-size: 16px;
}
  
body {
    background-color: #647A72;
    margin: 50px;
    padding: 3%;
}
  
aside {
    margin-left: 1000px;
    
}
  
a {
    color:#29332C;
    padding: 0px;
    margin: 10px;
}
  
a:hover {
    color: #BAE6C5
}
  
  nav {
    width: 500px;
    margin: 20px;
    padding: 0px;
    
    }
  
  .featured {
    margin: 50px;
    }